body{
    background-color:#CFF5E7;
    color:#0014FF;
}
hr{
    background-color:transparent;
    border-style:dotted none none;
    border-width: 5px;
    border-color:gray;
    width:5%;
}
h3{
    color:#66BFBF;
}
h1{
    color:#497174;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}